@import "modern-normalize";

/* body {
  background-color: #464646;
} */

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  src: url(./assets/fonts/Montserrat-ExtraBold.ttf);
  src: url(./assets/fonts/Montserrat-Medium.ttf);
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

body {
  font-family: "Montserrat";
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
}

.header {
  background-color: #b68e65;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

/* .icon {
  fill: #464646;
} */
